version: "3.9"

services:
  db:
    image: postgres:16
    container_name: promo_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  bot:
    build: .
    container_name: promo_bot
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
    dns:
      - 1.1.1.1
      - 8.8.8.8

volumes:
  pgdata:
